<section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
   
<div class="col-md-4 col-sm-12">
    <h2>2D Character</h2>
    <p>I designed these fives characters using adobe photoshop. <br>我使用adobe photo設計了這五個人物。</p>
</div>
<div class="col-md-8 col-sm-12">
    <img src="/images/portfolio/10.jpg">
    <img src="/images/portfolio/11.jpg">
    <img src="/images/portfolio/12.jpg">
    <img src="/images/portfolio/13.jpg">
    <img src="/images/portfolio/14.jpg">
</div>


        </div>
</section>