<section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
   
<div class="col-md-4 col-sm-12">
    <h2>3D Character</h2>
    <p>I designed the robot(3D character)on the right in AutoDesk Maya. I applied motion to the robot. <br>我使用AutoDesk Maya設計了右邊的機器人，並且給它加上了動作。</p>
</div>
<div class="col-md-8 col-sm-12">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DYt49ULJ1dk" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/w4Rq2S0ApYs" frameborder="0" allowfullscreen></iframe>
</div>


        </div>
</section>