<section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
   
<div class="col-md-12 col-sm-12">
    <h2>Data Visualization</h2>
    <p>I designed the following infographics. Every graph is designed and created in adobe illustrator.我設計了以下的圖形圖表。這些都是透過adobe illustrator。</p>
</div>
<div class="col-md-12 col-sm-12">
    <img src="/images/portfolio/10.png">
    <img src="/images/portfolio/11.png">
    <img src="/images/portfolio/12.png">
    <img src="/images/portfolio/13.png">
</div>


        </div>
</section>