
    <section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>My Portfolio.</h2>
                        <p>The following are my portfolio pieces from University of Miami</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <ul class="portfolio">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".apps">Design</li>
                    <li class="filter" data-filter=".mockups">Animation</li>
                    <li class="filter" data-filter=".wordpress">Game</li>
                </ul>
            </div>
                            
                       <div class="portfolio-inner">
                <div class="row">
                
                
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="/specialolympics" title="Special Olympics">
                                <img src="images/portfolio/1.png" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="/datavisualization" title="Data Visualization">
                                <img src="images/portfolio/2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix mockups">
                        <div class="item">
                            <a href="/3dcharacter"  title="2D Character Design">
                                <img src="images/portfolio/4.png" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="/2dcharacter"  title="Project Title">
                                <img src="images/portfolio/3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix wordpress">
                        <div class="item">
                            <a href="/treasurekey"  title="Project Title">
                                <img src="images/portfolio/5.png" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix mockups" title="Project Title">
                        <div class="item">
                            <a href="/specialeffects" >
                                <img src="images/portfolio/6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
    
        </div>
     
     </section>