    <section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
   
<div class="col-md-4 col-sm-12">
    <h2>Special Olympics</h2>
    <p>We designed an app prototype to help promoting Unified Sports.In recent years, Special Olympics has pioneered the concept of Unified Sports, bringing together athletes with and without intellectual disabilities as teammates.The basic concept is that training together and playing together can create a path to friendship and understanding.Coaches can create teams through the app and bring athletes with and without intellectual disabilities to play sports together.</p>
    <p>為了幫助更多人了解Unified Sports，我們設計了一款手機軟體原型.殘奧會這幾年積極推動Unified Sports，希望殘障人士能與大家一起運動。讓他們能與大家產生友誼與信任。運用這個手機軟體，教練可以組建隊伍讓所有人一起運動。</p>
</div>
<div class="col-md-8 col-sm-12">
    <img src="/images/portfolio/7.png">
    <img src="/images/portfolio/8.png">
</div>

<div class="col-md-12 col-sm-12">
<img src="/images/portfolio/9.jpg">
</div>

        </div>
</section>