<section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
   
<div class="col-md-4 col-sm-12">
    <h2>2D Character</h2>
    <p>
The project is filmed in three separate scenes. The dog is made and built in AutoDesk Maya. The girl is filmed in front of a green screen. The rest are filmed using a Sony camera. The story of this animation is a girl dreaming in her car. In the dream, she and her dog are cooked and eaten by a grandmother. </p>
</div>

<div class="col-md-8 col-sm-12">
<iframe width="560" height="315" src="https://www.youtube.com/embed/jw6BuD3GIdQ" frameborder="0" allowfullscreen></iframe>
</div>


        </div>
</section>

