@font-face {
   font-family: myFirstFont;
   src: url(/fonts/123.ttf);
}

.signature{
    font-family: myFirstFont;
    font-size: 300%;
}



.topnav {
    list-style-type: none;
}

.topnav li {
    display:inline-block;
    margin:0px;
    padding-top: 30px;
    padding-right: 50px;
}

.topnav li a {
position: relative;
  color: #000;
  text-decoration: none;
}

.topnav li a:hover {
    color: #000;
}

.topnav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.topnav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}