<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Bootstrap</title>
</head>

<body>
    <div class="container-fluid">
    <div class="row justify-content-between">
    <div class="col-4 signature">
       Yi Ting Chen 陳奕廷
    </div>
    
    <ul class="col-6 text-center topnav ">
        <li><a href="">Home</a></li>
        <li><a href="">Porfolio</a></li>
        <li><a href="">Resume</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    </div>
        <div class="socialmedia">
            <img src="images/facebook.png">
            <img src="images/instagram.png">
            <img src="images/youtube.png">
            <img src="images/linkin.png">
        </div>
    </div>
 
        
        {{{content}}}
        
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0HAKwKinpoFKNGUwRBgkrKhF-sIqFUNA"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
   
</body>

</html>